body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh !important;
}

html, body {margin: 0; height: 100%; overflow: hidden}

#root {
  display: flex;
  flex-flow: column;
  height: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  text-align: center !important;
}

::-webkit-input-placeholder {
  text-align: center !important;
}

:-moz-placeholder {
  text-align: center !important;
}